<div class="flex border-b mb-3 overflow-x-auto text-xs" style="border-color: #E7E8E9;">
    <div class="w-12 shrink-0"></div>
    <div class="px-2 py-2 font-medium whitespace-nowrap" style="color: #67C180; border-bottom: 2px solid #67C180;">Segunda</div>
    <div class="px-2 py-2 font-medium text-base-content/60 whitespace-nowrap">Terça</div>
    <div class="px-2 py-2 font-medium text-base-content/60 whitespace-nowrap">Quarta</div>
    <div class="px-2 py-2 font-medium text-base-content/60 whitespace-nowrap">Quinta</div>
    <div class="px-2 py-2 font-medium text-base-content/60 whitespace-nowrap">Sexta</div>
    <div class="px-2 py-2 font-medium text-base-content/60 whitespace-nowrap">Sábado</div>
    <div class="px-2 py-2 font-medium text-base-content/60 whitespace-nowrap">Domingo</div>
</div>

<div class="overflow-x-auto">
    <table class="w-full text-xs">
        <tbody>
            <tr>
                <td class="w-12 py-2 text-right pr-2 align-top" style="color: #71717A;">07:30</td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;">
                    <div class="mx-1 rounded px-1 py-2" style="background-color: rgba(14,165,233,0.1); border-left: 3px solid #0EA5E9;">
                        <div style="color: #0EA5E9; font-weight: 500;">Redes</div>
                        <div style="color: #0369A1; font-size: 9px;">07:30-10:00</div>
                    </div>
                </td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
            </tr>
            <tr>
                <td class="w-12 py-2 text-right pr-2 align-top" style="color: #71717A;">08:30</td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
            </tr>
            <tr>
                <td class="w-12 py-2 text-right pr-2 align-top" style="color: #71717A;">10:00</td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;">
                    <div class="mx-1 rounded px-1 py-2" style="background-color: rgba(248,175,103,0.1); border-left: 3px solid #F8AF67;">
                        <div style="color: #F8AF67; font-weight: 500;">SO</div>
                        <div style="color: #F8AF67; font-size: 9px;">10:00-12:00</div>
                    </div>
                </td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
                <td class="border-l py-1" style="border-color: #FAFAFA; background-color: #FAFAFA;"></td>
            </tr>
        </tbody>
    </table>
</div>
